<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Step 5</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <h1>Hello!</h1>
    <p>Here's another form:</p>
    <form action="{{ url_for('functie_cu_get') }}">
        <p><label for="name">Name</label></p>
        <p><input type="text" name="name"></p>

        <p><label for="password">Password</label></p>
        <p><input type="password" name="password"></p>

        <p>Options</p>
        <p><input type="radio" name="option" value="1"> <label for="option">Option 1</label></p>
        <p><input type="radio" name="option" value="2"> <label for="option">Option 2</label></p>
        <p><input type="radio" name="option" value="3"> <label for="option">Option 3</label></p>
        <p><input type="radio" name="option" value="4"> <label for="option">Option 4</label></p>
        <p><input type="radio" name="option" value="5"> <label for="option">Option 5</label></p>

        <input type="hidden" name="test" value="hide">

        <p><button type="submit">OK</button></p>
    </form>

</body>

</html>
