<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Step 3</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <h1>Hello!</h1>
    <p>Here's a list:</p>
    <ul>
        {% for item in listing %}
        <li>
            <p><strong>{{ item.name }}</strong></p>
            <p>{{ item.definition }}</p>
        </li>
        {% endfor %}
    </ul>
</body>

</html>
